.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 16px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #005bcc;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.publish-btn {
  margin-top: 20px;
  margin-right: 100px;
}
.submit-btn {
  margin-top: auto;
}
.preview {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 8px;
}
